* {
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
}

.home-page {
    display: flex;
    gap: 30px;
    width: 100%;
}

.link {
    text-decoration: none;
    color: inherit;
}

.parent-topbar {
    flex: 1;
    /* margin-right: 1rem; */
}

.flex {
    display: flex;
}

.alignCenter {
    align-items: center;
}

.justifyContentCenter {
    justify-content: center;
}

.justifySpaceBetween {
    justify-content: space-between;
}
